//unsure if these are used elsewhere on the project... but they should be deleted if not in use.
$color-primary-blue: #38B6FF;
$color-secondary-pink: #FF949B;
$color-tertiary-green: #56FFA3;
$color-black: #000000;
$color-grey: #747575;
$color-white: #fff;

//main color variables
$main-text: #455a64;
$main-grey: #ccd6dd;
$helium-blue: #18a9fd;
$main-red: #f76b6b;
$main-yellow: #ffdc5d;
$main-dark-yellow: #ffd128;
$main-dark-green: #39cd74;
$main-light-green: #56ffa3;
$white: #fff;
$divider-grey: #EBEEEF;

$blue-gradient: rgba(24, 169, 253, .15);

//button color variables
$btn-blue: RGBA(24, 169, 253, 0.5);
$btn-green: RGBA(86, 255, 163, 0.5);
$btn-yellow: RGBA(255, 220, 93, 0.5);
$btn-red: RGBA(255, 148, 155, 1.0);
$btn-red-hover: RGBA(255, 148, 155, 0.5);
$btn-grey: RGBA(204, 214, 221, 0.5);

//social media icons
$facebook: #3b5998;
$instagram: #8a3ab9;
$twitter: #00acee;
$linkedin: #0e76a8;
$tiktok: #69C9D0;
$pinterest: #E60023;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;