.feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    .component {
        padding: 10px 0;

        button.hide-btn {
            display: flex;
            align-items: center;
            margin: auto;
        }
    }
}