@import '../../sass/abstracts/variables';

.header-component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: bisque;


    .left-header {
        align-items: center;
        display: flex;
        width: 40%;
    

        .navbar-logo {
            color: #fff;
            justify-self: start;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
        }
    }

    .right-header {
        align-items: center;
        color: $main-text;
        display: flex;
        justify-content: flex-end;
        width: 60%;
        font: 500 36px "Quicksand", "sans-serif";
        

        .header-item {
            font: 800 36px "Barlow", "sans-serif";
            color: $main-text;
            margin: 0 25px 0 0;
            text-decoration: none;
            transition: 0.3s ease-in-out;
        }
        :hover {
            transition: 0.3s ease-in-out;
            color: $helium-blue;
        }

        .header-login {
            align-items: center;
            box-sizing: border-box;
            color: $main-text;
            display: inline-flex;
            justify-content: center;
            padding: 15px 0;
            text-align: center;
            width: 10rem;
            border-left: 1px solid #CED8DF;
        }

        .header-signup {
            background-color: #38b6ff;
            color: #fff;
            padding: 0px 10px;
        }
    }
}