@import '../../../sass/abstracts/variables';

.hamburger{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
}



.hamburger-component {
    background-color: red;
}
.menu-icon {
    position: absolute;
    display: inline-block;
    right: 9%;
    top: 8%;
    font-size: 48px;
    cursor: pointer;
    padding: 0 20px;
}
.header-nav-menu {
    visibility: hidden;
    position: absolute;
}
.header-nav-menu.active {
    background-color: white;
    background-size: contain;
    background-position: -100px 5px;
    border: 1px solid black;
    left: 70%;
    opacity: 1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 90vh;
    position: absolute;
    top: 15%;
    visibility:visible;
    list-style: none;

    .menu-icon {
        position: fixed;
        display: inline-block;
    }

    .nav-container {
        position: fixed;
        size: fill;
        background-color: $main-text;
        z-index: 0;
        opacity: .8;
    }

    .dropdown-member {
        border-bottom: 2px solid $main-grey;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 0;

        .dropdown-login {
            color: $main-grey;
        }
        .dropdown-signup {
            color: $main-grey;
        }
    }
    li {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: flex-end;

        .dropdown-link {
            text-align: right;
            padding: 0 2rem 2rem;
            margin: 2rem 0 0;
            display: table;
            color: $main-grey;
            font-size: 48px;
            font-weight: bold;
        }
        :hover {
            border-radius: 4px;
            color: $helium-blue;
            text-decoration: none;
            transition: all 0.3s ease-out;
        }
    }
}


.dropdown-nav-menu-social {
    display:inline-flex;
    justify-content: flex-end;
    position: absolute;
    top: 700px;
    right: 0;
    border-top: 5px solid $divider-grey;
    padding-top: 10%;

    a {
        color: $main-text;
    }
    a.facebook:hover {
        color: $facebook;
        transition: 0.3s ease-in-out;
    }
    a.instagram:hover {        
        color: $instagram;
        transition: 0.3s ease-in-out;
    }
    a.twitter:hover {
        color: $twitter;
        transition: 0.3s ease-in-out;
    }
    a.linkedin:hover {
        color: $linkedin;
        transition: 0.3s ease-in-out;
    }
    a.tiktok:hover {
        color: $tiktok;
        transition: 0.3s ease-in-out;
    }
    a.pinterest:hover {
        color: $pinterest;
        transition: 0.3s ease-in-out;
    }
}

// @media (min-width: 320px) and (max-width: 425px) {
//     .menu-icon {
//         position: absolute;
//         top: 3%;
//         right: 20%;

//     }

//     .header-nav-menu.active {
//         left: 5%;
//         top: 9%;
//         width: 80vw;
//         height: 70vh;
//         background-position: -55px 5px;

//     }

//     .dropdown-nav-menu-social {
//         top: 80%;
//     }
// }

// // @media (min-width: 426px) and (max-width: 767px) {
   
// // }

// @media (min-width: 768px) and (max-width: 1024px) {
//     .menu-icon {
//         left: 90%;
//         top: 5%;
//     }

//     .header-nav-menu.active {
//         left: 30%;
//         height: 100vh;
//     }
// }

// @media (min-width: 1024px) and (max-width: 1440px) {
//     .header-nav-menu.active {
//         left: 50%;
//         height: 80vh;
//     }
// }

// @media (min-width: 1440px) {
//     .header-nav-menu.active {
//         left: 60%;
//         height: 60%;
//     }

//     .menu-icon {
//         right: 0%;
//         top: 5%;
//     }

// }